<!--include header-->
<%- include('include/_header') %>
    <!--/include header-->

    <main id="site-main">
        <div id="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                   
                </a>
                <span class="text-gradient">New User <i class="fa-solid fa-user"></i></span>
                <button onclick="location.href='http://www.csac.ro/';">surprise</button>
                <button onclick=" location.href='https://scanstart.ro/';">surprise again</button>
                <button onclick="location.href='https://graffino.com/';">you allready know</button>
            </div>
            <form action="/method=" POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Genders</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

    <!--include footer-->
    <%- include('include/_footer') %>
        <!--/include footer-->